@model AutomaticSharp.Demo.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <h1>All Vehicles</h1>
    <ul>
        @foreach (var vehicle in Model.Vehicles)
        {
            <li>@Html.ActionLink(vehicle.Value, "Vehicle", new { id = vehicle.Key })</li>
        }
    </ul>
}
else
{
    <h1>Login to Automatic to see your vehicles</h1>
}