body {
    padding-top: 70px;
    padding-bottom: 20px;
}

.btn-automatic {
    width: 196px;
    background-image: url(//d1qbqqxx54sk5g.cloudfront.net/website/img/developer/buttons/signin-xlarge@2x.271d1595432a.png);
    background-size: contain;
}

#map-canvas {
    height: 500px;
}
